*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calc_main{
  width: 400px;
  margin: 80px auto;

}

.output_scrn{
  width: 400px;
  height: 70px;
  padding: 10px;
  text-align: right;
  background-color: #bdbdbd;
  border: 0.5px solid black;
  outline: none;
  font-size: 30px;
}

input[type="button"]{
  width: 100px;
  height: 70px;
  font-size: 20px;
}

@media screen and (max-width: 600px){
  .calc_main{
    width: 300px;
  }
  .output_scrn{
    width: 300px;
  }
  input[type="button"]{
    width: 75px;
  }
}